<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Form Submission</title>
    <style>
        body {
        background:gainsboro;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.922);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    padding-left: 3px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: darkgreen;
    transform: scale(1.1);
  }
    </style>
</head>
<body>
    <h1>Submit Your Details</h1>
    <form action="/submit" method="POST">
        <label for="name"><b>Name:</b></label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="email"><b>Email:</b></label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>